@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  /* default theme */
  :root {
    /* --var-name: rgb value */
    --color-accent: 53, 79, 82;
    --color-secondary: 132, 169, 140;
    --color-dark: 47, 62, 70;
    --color-light: 253, 252, 255;

    --bg-accent: 132, 169, 140;
    --bg-dark: 53, 79, 82;
    --bg-light: 253, 252, 255;

    --border-accent: 253, 252, 255;
    --border-primary: 253, 252, 255;
    --border-secondary: 253, 252, 255;
  }
  /* .dark-gradient {
    background: linear-gradient(
      180deg,
      rgba(23, 17, 43, 0) 6.25%,
      rgba(10, 0, 21, 0.83) 44.27%,
      rgba(10, 0, 21, 0.98) 85.42%,
      #0a0015 100%
    );
  }
  .light-gradient {
    background: linear-gradient(
      180deg,
      rgba(196, 20, 20, 0.76) 0%,
      rgba(232, 162, 162, 0.76) 78.75%,
      rgba(255, 255, 255, 0.76) 100%
    );
  } */
}
/* Custom CSS for events hover animation */
html,
#root {
  height: 100%;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
