/* .section-center {
  width: 1520px;
  height: 592px;
} */
article {
  /* position: absolute; */
  /* height: 100%;
  width: 100%; */
  opacity: 0;
  transition: all 0.3s linear;
}
article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
article.lastSlide {
  transform: translateX(-100%);
}
article.nextSlide {
  transform: translateX(100%);
}

.prev {
  /* position: absolute; */
  top: 200px;
  transform: translateY(-50%);
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: all 0.3s linear;
}
.next {
  /* position: absolute; */
  top: 200px;
  transform: translateY(-50%);
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: all 0.3s linear;
}

.prev {
  left: 0;
}
.next {
  right: 0;
}
